<div class="grid-title">ACTIVITY BY DEPARTMENT</div>
<div class="grid-content">
  <div class="map-legend-box">
    <div>
      <p><em>Color density: active participants</em></p>
      <div class="map-legend-key">
        <div class="map-legend-min-max"><%=
          active_members = KpiDash.new(@group, 'departments').call
          nb_active_members = active_members.map { |department| department[:active_members] }
          nb_active_members_min = nb_active_members.min
          nb_active_members_max = nb_active_members.max
          nb_active_members_min == nb_active_members_max ? 0 : nb_active_members_min
        %></div>
        <div class="map-legend-key-color"></div>
        <div class="map-legend-min-max"><%=
          nb_active_members_max
        %></div>
      </div>
    </div>
  </div>

  <div id="department_members_polar" class="size-full z-10"></div>
</div>

<% content_for :after_js do %>
  <script type="text/javascript">
    function departmentChart() {
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        <%
          require 'matrix'
          begin_color_vector        = Dashboard.chart_density_vectors.first
          end_color_vector          = Dashboard.chart_density_vectors.last
          color_vector              = end_color_vector - begin_color_vector
          color_vector_norm         = color_vector.norm
          departments                = KpiDash.new(@group, 'departments').call
          min_comments_departments   = KpiDash.new(@group, 'departments').call.map { |department| department[:active_members] }.min
          max_comments_departments   = KpiDash.new(@group, 'departments').call.map { |department| department[:active_members] }.max
          depth_comments_departments = max_comments_departments - min_comments_departments

          background_colors = departments.map do |department|
            vector_color  = begin_color_vector + ((department[:active_members] - min_comments_departments) / depth_comments_departments.to_f) * color_vector
            "##{vector_color[0].round.to_s(16).rjust(2, '0')}#{vector_color[1].round.to_s(16).rjust(2, '0')}#{vector_color[2].round.to_s(16).rjust(2, '0')}"
          end
        %>

        var data = google.visualization.arrayToDataTable(<%=
          departments_comments = KpiDash.new(@group, 'departments').call
          chart_colors = background_colors
          chart_title = ["Department", "Comments"]

          chart_departments_comments = departments_comments.each_with_index.map do |department, index|
            chart_department_array = []
            chart_department_array.push department[:name]
            chart_department_array.push department[:comments]
          end

          chart_departments_comments.unshift chart_title
          raw chart_departments_comments.to_json
        %>);

        var options = {
          fontName: 'Open Sans',
          backgroundColor: { fill:'transparent' },
          pieHole: 0.7,
          pieSliceText: 'value',
          pieSliceTextStyle: { color: '#dedede' },
          pieSliceBorderColor: '#031421',
          legend: {
            position: 'labeled',
            textStyle: {
              color: 'white'
            }
          },
          animation: {
            duration: 2000,
            startup: true,
            easing: 'out',
          },
          slices: <%=
            chart_colors_hash = {}
            chart_colors.each_with_index do |color, index|
              chart_colors_hash[index] = {
                color: color
              }
            end
            raw chart_colors_hash.to_json
          %>
        };

        var chart = new google.visualization.PieChart(document.getElementById('department_members_polar'));
        chart.draw(data, options);
      }
    }
  </script>
<% end %>
