<div class="row">
  <div class="grid-element col-xs-12 col-sm-12 col-md-4 col-lg-4 dam-color-1 grid-borders">
    <%= render 'groups/dashboard/general/active_members_card' %>
  </div>
  <div class="grid-element col-xs-12 col-sm-12 col-md-8 col-lg-8 dam-color-2 grid-borders" style="overflow: hidden">
    <%= render 'groups/dashboard/general/departments_card' %>
  </div>
</div>
<div class="row">
  <div class="grid-element col-xs-12 col-sm-12 col-md-8 col-lg-8 dam-color-2 grid-borders">
    <%= render 'groups/dashboard/general/members_map' %>
  </div>
  <div class="grid-element col-xs-12 col-sm-12 col-md-4 col-lg-4 dam-color-1 grid-borders">
    <%= render 'groups/dashboard/general/comments_by_country_card' %>
  </div>
</div>
