<div class="row height-full">
  <div class="col-xs-12 col-sm-6 height-full organization_column">
    <div class="position-absolute width-full horizontal-vertical-center organization_title business-bg-color color-white">BUSINESS</div>
    <div class="width-full organisation-column-container">
      <div class="dam-color-1 organisation_content grid-borders">
        <%= render 'groups/dashboard/organization/business_likes_comments' %>
      </div>
      <div class="dam-color-2 organisation_content grid-borders">
        <%= render 'groups/dashboard/organization/business_countries_departments' %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 height-full organization_column">
    <div class="position-absolute width-full horizontal-vertical-center organization_title technology-bg-color color-white">TECHNOLOGY</div>
    <div class="width-full organisation-column-container">
      <div class="dam-color-2 organisation_content grid-borders">
        <%= render 'groups/dashboard/organization/tech_likes_comments' %>
      </div>
      <div class="dam-color-1 organisation_content grid-borders">
        <%= render 'groups/dashboard/organization/tech_countries_departments' %>
      </div>
    </div>
  </div>
</div>
