<div class="row">
  <div class="grid-element col-xs-12 col-sm-6 blue-dam-1">
    <%= render 'groups/dashboard/organization/organization_business_up_card' %>
  </div>
  <div class="grid-element col-xs-12 col-sm-6 blue-dam-2">
    <%= render 'groups/dashboard/organization/organization_tech_up_card' %>
  </div>
  <div class="grid-element col-xs-12 col-sm-6 blue-dam-2">
    <%= render 'groups/dashboard/organization/organization_business_down_card' %>
  </div>
  <div class="grid-element col-xs-12 col-sm-6 blue-dam-1">
    <%= render 'groups/dashboard/organization/organization_tech_down_card' %>
  </div>
</div>
