<h3>Tech</h3>
<i class="fa fa-thumbs-o-up orga-like" aria-hidden="true"></i>
<i class="fa fa-comment-o orga-comment" aria-hidden="true"></i>
<%= render 'groups/dashboard/organization/organization_graph/horizontal_bar_tech' %>
