<div class="row grid-sub-orga bg-blue-dam-1">
  <div class="row row-body">
    <div class="row">
        <h3 class="orga-h3">By countries and departements</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render 'groups/dashboard/organization/organization_graph/bar_tech' %>
      </div>
    </div>
  </div>
</div>

