<div class="row grid-sub-orga bg-blue-dam-2">
  <div class="row row-heading">
    <div class="background-heading">
      <h3>
        Tech
      </h3>
    </div>
  </div>
  <div class="row row-body-up">
    <div class="row">
      <div class="col-md-1">
        <h4>
          <i class="fa fa-thumbs-o-up orga-like" aria-hidden="true"></i>
          <i class="fa fa-comment-o orga-comment" aria-hidden="true"></i>
        </h4>
      </div>
      <div class="col-md-11">
        <%= render 'groups/dashboard/organization/organization_graph/horizontal_bar_tech' %>
      </div>
    </div>
  </div>
</div>
