/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900|Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Bungee');
// @import url('https://fonts.googleapis.com/css?family=Exo:400,500,600,800,900');
// @import url('https://fonts.googleapis.com/css?family=Leckerli+One');


$base-font: "Lato", "Open Sans", "Helvetica", "sans-serif";
$header-font: "Montserrat", "sans-serif";


// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #b30000;

$red-darker: #b30000;
$red: #e20d1f;
$red-lighter: #fe5f55;

$blue-darker: #384259;
$blue: #2b59c3;
$blue-lighter: #33a1fd;

$orange: #ef760b;
$yellow: #fcf11e;

$green-darker: #07751E;
$green: #1fb71f;
$green-lighter: #15ed47;

$purple-darker: #611275;
$purple: #9625a3;
$purple-lighter: #ca61c3;

$dark-black: #0f0e0e;
$black: #1E1D23;
$gray: #5e5e5e;
$gray-lighter: #9daa9d;
$beige: #f4f7f6;
