/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Droid+Sans|Lato:300,400");
$base-font: "Lato", "Open Sans", "Helvetica", "sans-serif";
$header-font: "Lato", "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red-lighter: #D65858;
$red: #CD3333;
$red-darker: #A82A2A;

$blue-lighter: #58819F;
$blue: #33658a;
$blue-darker: #2A5371;

$yellow: #FDB631;
$orange: #E67E22;

$green: #4CAF50;
$green-darker: #3F9042;

$gray: #000000;

$beige: #E0DFC5;

$black: #1E1D23;
