.group-title {
  margin-top: 20px;
}

.card-group {
  display: flex;
  align-items: center;
  position: relative;
  height: 350px;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.card-group-a, .card-group-a:hover, .card-group-a:focus {
  text-decoration: none
}

.card-group:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
}

.create-border:hover{
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer;
}

.card-group-description {
  position: inherit;
  display: flex;
  height: 125px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-icon {
  color: white;
  position: absolute;
  top: 8px;
  right: 25px;
  font-size: 25px;
  z-index: 10;
}

.card-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}


.card-group-btn {
  flex-direction: column;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 24px;
}

.plus-lg {
  margin-top: 95px;
  font-size: 80px;
}

.card-group-description h2 {
  width: 100%;
  font-size: 20px;
  padding: 0 5px;
  color: white;
}

.card-group-picture-absolute {
  position: absolute;
  top: -40px;
  width: 100%;
}

.card-group-avatar {
  width: 45px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.card-link:hover{
  opacity: 0.1;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  border-radius: 5px;
}


