.organization-style h1 {
  background-color: $blue-dam-1;
  color: white;
  margin: 0px;
  padding: 10px;
}

.organization-row {
  background-color: $blue-dam-1;
  display: flex;
}

.organization-col-1 {
  padding: 10px;
  flex: 1;
  height: 100vh;
  color: white;
}

.organization-col-2 {
  background-color: $blue-dam-2;
}
