#page-content-wrapper section {
  height: calc(100vh - #{$navbar-height} - #{$section-title-height});
}

.section-title {
  height: $section-title-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $section-title-bg-color;
  color: $section-title-color;
  font-size: 16px;
  letter-spacing: 0.8px;
  z-index: 10;
}

.grid-title {
  position: absolute;
  width: 100%;
  height: $grid-height;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $grid-title-color;
  font-size: 13px;
  letter-spacing: 0.8px;
}

.grid-element {
  height: 100%;
}

.grid-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.like-row {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.badge-like {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 8px;
}

.badge-like i {
  font-size: 150%;
  padding-right: 5%;
}

.grid-borders {
  border: 0.5px solid $color-border-krowd;
}

.grid-border-left {
  border-left: 1px solid $color-border-krowd;
}

.grid-border-right {
  border-right: 1px solid $color-border-krowd;
}

.grid-border-top {
  border-top: 1px solid $color-border-krowd;
}

.grid-border-bottom {
  border-bottom: 1px solid $color-border-krowd;
}

