.organisation_content {
  width: 100%;
  height: 50%;
}

#organization h3 {
  font-size: 22px;
  color: grey;
}

#organization .grid-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.likes_comments_block {
  display: flex;
  align-items: top;
  justify-content: center;
  padding: 15px 30px;
  width: 100%;
}

.likes_comments_block i {
  color: white;
  font-size: 20px;
}

.likes_comments_block .progress {
  flex: 1 0 auto;
  margin-left: 15px;
  background-color: #122c42 !important;
}

.organisation_likes {
  background-color: $turquoise-1 !important;
}

.organisation_comments {
  background-color: $green-1 !important;
}
