.organisation_content {
  width: 100%;
  height: 50%;
}

#organization h3 {
  font-size: 22px;
  color: grey;
}

#organization .grid-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.likes_comments_block {
  display: flex;
  align-items: top;
  justify-content: center;
  padding: 15px 30px;
  width: 100%;
}

.likes_comments_block i {
  // color: white;
  font-size: 20px;
}

.likes_comments_block .progress {
  flex: 1 0 auto;
  margin-left: 15px;
  background-color: #122c42 !important;
}

.organisation_likes {
  background-color: $likes-color !important;
}

.organisation_comments {
  background-color: $comments-color !important;
}

.organization_column {
  min-height: 600px;
}

.organization_title {
  height: $organization-title-height;
  font-size: 16px;
  color: $organization-title-color;
  background-color: $organization-title-bg-color;
}

.organisation-column-container {
  margin-top: $organization-title-height;
  height: calc(100% - #{$organization-title-height});
}

.organization-line-chart {
  width: 90%;
  height: calc(90% - #{$organization-title-height});
}

.organisation_likes_comments_container {
  padding-top: $organization-title-height;
}
