<div class="row">
  <div class="grid-element col-sm-12 col-md-6 dam-color-1">
    <div class="grid-title"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;AWARD MESSAGE</div>
    <div class="grid-content">
      <div id="award_message" class="post-block">
        <%= render 'groups/dashboard/push/push_form', push: :awards %>
      </div>
    </div>
  </div>
  <div class="grid-element col-sm-12 col-md-6 dam-color-2">
    <div class="grid-title"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;INCENTIVE MESSAGE</div>
    <div class="grid-content">
      <div id="incentive_message" class="post-block">
        <%= render 'groups/dashboard/push/push_form', push: :incentive %>
      </div>
    </div>
  </div>
</div>
