<div class="badge-card">
  <div class="badge-reward text-center">
    <div class="badge-pictures">
      <%= image_tag current_user.mugshot_url, class: "avatar-badges" %>
      <img class="reward-picto" src="<%= path_to_image "The_activist.jpg" %>">
    </div>
    <h4>The activist of the Week</h4>
  </div>
  <div class="user-informations text-center">
    <h4>Jean Louis David</h4>
  </div>
</div>




