<div class="badge-card">
  <div class="badge-reward text-center">
      <img src="<%= path_to_image "The_activist.jpg" %>" alt="The activist" class="badge-picture">
      <h4>The activist of the Week</h4>
  </div>
  <div class="user-informations text-center">
    <img class="avatar" src="<%= path_to_image "The_activist.jpg" %>">
    <p>Jean Louis David</p>
  </div>
</div>
