<div class="badge-card">
  <div class="badge-icon">
    <img src="The_activist.jpg" alt="The activist" class="badge-picture">
  </div>
  <div class="badge-title">
    <h2>The activist of the Week</h2>

  </div>
</div>
