<div class="container-full">
  <div class="row">
    <div class="col-xs-12 col-sm-4 element-donut-innovation">
      <div class="innovation-title text-center">
        <h3>Titre</h3>
      </div>
      <div class="innovation-donut">
        <%= render 'groups/dashboard_partials/innovation_partials/donut', donut_id: "first_donut" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 element-donut-innovation">
      <div class="innovation-title text-center">
        <h3>Titre</h3>
      </div>
      <div class="innovation-donut">
        <%= render 'groups/dashboard_partials/innovation_partials/donut', donut_id: "second_donut" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 element-donut-innovation">
      <div class="innovation-title text-center">
        <h3>Titre</h3>
      </div>
      <div class="innovation-donut">
        <%= render 'groups/dashboard_partials/innovation_partials/donut', donut_id: "third_donut" %>
      </div>
    </div>
  </div>
</div>
