<div class="container-full">
  <div class="title">
    <h1>Innovation</h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- Premier donut -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- Premier donut -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- Premier donut -->
    </div>
  </div>
</div>
