<div class="section-message">
<!--   <%= render 'groups/dashboard_rubbon_first' %>
    <h3>Organization</h3>
  <%= render 'groups/dashboard_rubbon_second' %> -->
  <div class="background-color-one">
    <span style="color: white">Left side business</span>
  </div>
  <div class="background-color-two">
    <span style="color: white">Right side technology</span>
  </div>
</div>
