<div class="organization-style">
  <h1>Organization</h1>
</div>

<div class="organization-row">
  <div class="organization-col-1">Left side business.</div>
  <div class="organization-col-1 organization-col-2">Right side technology.</div>
</div>
