<!-- <div class="section-message">
  <div class="background-color-one">
    <span style="color: white">Left side business</span>
  </div>
  <div class="background-color-two">
    <span style="color: white">Right side technology</span>
  </div>
</div> -->

<div class="container-fluid section-message">
  <div class="row">
    <div class="col-md-6 background-color-one">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <h2>
        Heading
      </h2>
      <p>
        <span style="color: white">Left side business</span>
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
    <div class="col-md-6 background-color-two">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <h2>
        Heading
      </h2>
      <p>
        <span style="color: white">Right side technology</span>
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
  </div>
</div>
