<section>
  <div id="award_message"><%= render 'groups/dashboard_partials/push_partial/push_form' %></div>
  <div id="incentive_message"><%= render 'groups/dashboard_partials/push_partial/push_form' %></div>
</section>
