<div class="row grid-sub-orga bg-blue-dam-2">
  <div class="row row-body">
    <div class="row">
        <h3 class="orga-h3">By countries and departements</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render 'groups/dashboard_partials/organization_partials/organization_graph_partials/bar_business' %>
      </div>
    </div>
  </div>
</div>
