<div class="row grid-sub-orga bg-blue-dam-2">
  <div class="row row-heading">
    <div class="background-heading">
      <h3>
        Business
      </h3>
    </div>
  </div>
  <div class="row row-body">
    <div class="col-md-12">
      <%= render 'groups/dashboard_partials/organization_partials/organization_graph_partials/bar_business' %>
    </div>
  </div>
</div>
