<div class="row grid-sub-orga bg-blue-dam-1">
  <div class="row row-heading">
    <div class="background-heading">
      <h3>
        Tech
      </h3>
    </div>
  </div>
  <div class="row row-body">
    <div class="col-md-12">
      <%= render 'groups/dashboard_partials/organization_partials/organization_graph_partials/bar_tech' %>
    </div>
  </div>
</div>
