<div class="row grid-sub-orga bg-blue-dam-1">
  <div class="row row-heading">
    <div class="background-heading">
      <h3>
        Business
      </h3>
    </div>
  </div>
  <div class="row row-body-up">
    <div class="row">
      <div>
        <%= render 'groups/dashboard_partials/organization_partials/organization_graph_partials/horizontal_bar_business' %>
      </div>
    </div>
    <div class="row row-legend">
      <h4>
        Likes and Comments
      </h4>
    </div>
  </div>
</div>
