<div class="rubbon one">
    <div class="bk l">
      <div class="arrow top"></div>
      <div class="arrow bottom"></div>
    </div>
  <div class="skew l"></div>
    <div class="rubbon-main">
      <div>

