<!-- <a href="#menu-toggle" id="menu-toggle" class=""><i class="fa fa-bars"></i></a> -->
<div class="margin-top">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand"><%= image_tag @group.mugshot_url, class: 'sidebar-group-picture' %></li>

      <li>
        <a class="tab active" data-target="#general">
          <i class="fa fa-tachometer fa-fw fa-2x" aria-hidden="true"></i>
          <div class="sidebar-tab-title">General</div>
        </a>
      </li>
      <li>
        <a class="tab" data-target="#map">
          <i class="fa fa-globe fa-fw fa-2x" aria-hidden="true"></i>
          <div class="sidebar-tab-title">Map</div>
        </a>
      </li>
      <li>
        <a class="tab" data-target="#innovation">
          <i class="fa fa-lightbulb-o fa-fw fa-2x" aria-hidden="true"></i>
          <div class="sidebar-tab-title">Innovation</div>
        </a>
      </li>
      <li>
        <a class="tab" data-target="#organization">
          <i class="fa fa-users fa-fw fa-2x" aria-hidden="true"></i>
          <div class="sidebar-tab-title">Organization</div>
        </a>
      </li>
      <li>
        <a class="tab" data-target="#push">
          <i class="fa fa-check fa-fw fa-2x" aria-hidden="true"></i>
          <div class="sidebar-tab-title">Push</div>
        </a></li>
      <li>
        <a class="tab" data-target="#settings">
          <i class="fa fa-cogs fa-fw fa-2x" aria-hidden="true"></i>
          <div class="sidebar-tab-title">Settings</div>
        </a>
      </li>
    </ul>
  </div>
</div>
