<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Lato:300,400" rel="stylesheet">
    <link rel='stylesheet' href='style.css'>
  </head>

  <body>
    <div class="container">
      <!-- <div class="row"> -->
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
            <div class="card-category">Popular</div>
              <div class="card-description">
                <h1>A title</h1>
                <p>And some additionnal stuff</p>
              </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </body>
