<div id="wrapper">
  <%= render 'dashboard_navbar' %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div id="general"><%= render 'groups/dashboard_partials/general' %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div id="map"><%= render 'groups/dashboard_partials/map' %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div id="innovation"><%= render 'groups/dashboard_partials/innovation' %></div>
        </div>
      </div>
    </div>
  </div>
</div>

