<div id="wrapper">
  <%= render 'dashboard_navbar' %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div id="general" class="tab-content"><%= render 'general' %></div>
                <div id="innovation" class="tab-content hidden"><%= render 'innovation' %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

