<a href="#menu-toggle" id="menu-toggle" class=""><i class="fa fa-bars"></i></a>

 <div id="wrapper">
  <div class="margin-top">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Group name</a></li>

            <li>
              <a class="tab active" data-target="#general">
                <i class="fa fa-tachometer fa-fw" aria-hidden="true"></i>
                <span>General</span>
              </a>
            </li>
            <li>
              <a class="tab" data-target="#innovation">
                <i class="fa fa-lightbulb-o fa-fw" aria-hidden="true"></i>
                <span>Innovation</span>
              </a>
            </li>
            <li>
              <a class="tab" data-target="#organization">
                <i class="fa fa-users fa-fw" aria-hidden="true"></i>
                <span>Organization</span>
              </a>
            </li>
            <li>
              <a class="tab" data-target="#push">
                <i class="fa fa-check fa-fw" aria-hidden="true"></i>
                <span>Push</span>
              </a></li>
            <li>
              <a class="tab" data-target="#settings">
                <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>
                <span>Settings</span>
              </a>
            </li>
        </ul>
    </div>
  </div>
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12">
                        <div id="general" class="tab-content"><%= render 'general' %></div>
                        <div id="innovation" class="tab-content hidden"><%= render 'innovation' %></div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
