<div class="sidebar margin-top">
  <ul>
    <li>
      <a href="#summary">
        <i class="fa fa-info-circle"></i>
      </a>
    </li>
    <li>
      <a href="#favorite-movies">
        <i class="fa fa-file-video-o"></i>
      </a>
    </li>
    <li>
      <a href="#footer">
        <i class="fa fa-life-ring"></i>
      </a>
    </li>
  </ul>
</div>
<div class="content margin-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= @group[:full_name] %>
      </div>
    </div>
  </div>
</div>
