<div class="container-full">
  <div class="row grid-innovation">
    <div class="col-xs-12 col-sm-4 card-innovation">
      <div class="innovation-donut">
        <%= render 'groups/dashboard/innovation/donut', donut_id: "first_donut", kpi: 'innovation_ideas', icon: 'lightbulb-o'%>
      </div>
      <div class="innovation-title text-center">
        <h3>Ideas</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 card-innovation card-no-margin">
      <div class="innovation-donut">
        <%= render 'groups/dashboard/innovation/donut', donut_id: "second_donut", kpi: 'innovation_kint' , icon: 'book'%>
      </div>
      <div class="innovation-title text-center">
        <h3>Knowledge: inside the industry</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 card-innovation">
      <div class="innovation-donut">
        <%= render 'groups/dashboard/innovation/donut', donut_id: "third_donut", kpi: 'innovation_kext' , icon: 'graduation-cap' %>
      </div>
      <div class="innovation-title text-center">
        <h3>Knowledge: outside the industry</h3>
      </div>
    </div>
  </div>
</div>
