<div id="regions_div">
  <% content_for :after_js do %>
    <script>
      function geoChartMap() {
        google.charts.load('upcoming', {'packages':['geochart']});
          google.charts.setOnLoadCallback(drawRegionsMap);

          function drawRegionsMap() {

            var data = google.visualization.arrayToDataTable(<%= raw KpiDash.new(@group, 'countries').call.to_json %>);

            var options = {
              backgroundColor: 'white',
              colorAxis: {colors: ["#abfaa9", "#00bc66"]},
              datalessRegionColor: "#e5e3df", legend:'none'
            };

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
          }
      }
    </script>
  <% end %>
</div>
<div class="map-legend-box">
  <h4>Country ranking</h4>
    <ol>
      <% KpiDash.new(@group, 'countries').call[1..3].each do |country| %>
        <li><%= country.first %></li>
      <% end %>
    </ol>
  <div>
    <p><em>Color density key: connected participants</em></p>
    <div class="map-legend-key">
      <div class="map-legend-min-max">0</div>
      <div class="map-legend-key-color"></div>
      <div class="map-legend-min-max">100</div>
    </div>
  </div>
</div>
