<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <% if @demo %>
      <li class="sidebar-brand"><%= image_tag 'challenge_picture.jpeg', class: 'sidebar-group-picture' %></li>
    <% else %>
      <li class="sidebar-brand"><%= image_tag @group.mugshot_url, class: 'sidebar-group-picture' %></li>
    <% end %>

    <li>
      <a href="#general" class="tab active tab-general">
        <i class="fa fa-tachometer fa-fw fa-2x" aria-hidden="true"></i>
        <div class="sidebar-tab-title">General</div>
      </a>
    </li>
    <li>
      <a href="#badges" class="tab tab-badges">
        <i class="fa fa-user-circle-o fa-fw fa-2x" aria-hidden="true"></i>
        <div class="sidebar-tab-title">Awards</div>
      </a>
    </li>
    <li>
      <a href="#organization" class="tab tab-organization">
        <i class="fa fa-users fa-fw fa-2x" aria-hidden="true"></i>
        <div class="sidebar-tab-title">Organization</div>
      </a>
    </li>
    <li>
      <a href="#innovation" class="tab tab-innovation">
        <i class="fa fa-lightbulb-o fa-fw fa-2x" aria-hidden="true"></i>
        <div class="sidebar-tab-title">Innovation</div>
      </a>
    </li>
    <li>
      <a href="#push" class="tab tab-push">
        <i class="fa fa-check fa-fw fa-2x" aria-hidden="true"></i>
        <div class="sidebar-tab-title">Push</div>
      </a>
    </li>
  </ul>
</div>
