<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><%= image_tag @group.mugshot_url, class: 'avatar-large-two' %></li>

    <li>
      <a href="#general" class="tab active tab-general">
        <i class="fa fa-tachometer fa-fw fa-2x" aria-hidden="true"></i>
        <div class="sidebar-tab-title">General</div>
      </a>
    </li>
    <li>
      <a href="#badges" class="tab tab-badges">
        <i class="fa fa-globe fa-fw fa-2x" aria-hidden="true"></i>
        <div class="sidebar-tab-title">Badges</div>
      </a>
    </li>
    <li>
      <a href="#organization" class="tab tab-organization">
        <i class="fa fa-users fa-fw fa-2x" aria-hidden="true"></i>
        <div class="sidebar-tab-title">Organization</div>
      </a>
    </li>
    <li>
      <a href="#innovation" class="tab tab-innovation">
        <i class="fa fa-lightbulb-o fa-fw fa-2x" aria-hidden="true"></i>
        <div class="sidebar-tab-title">Innovation</div>
      </a>
    </li>
    <li>
      <a href="#push" class="tab tab-push">
        <i class="fa fa-check fa-fw fa-2x" aria-hidden="true"></i>
        <div class="sidebar-tab-title">Push</div>
      </a>
    </li>
  </ul>
</div>
