<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Connect</h4>
      </div>
      <div class="modal-body center">
        <div>
          <%= link_to yammer_path, method: :post do %>
            <%= image_tag "yammer-sign-in.png" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
