
<div class="container padded margin-top">
  <p>
    <strong>Wrapper color</strong>
    <div class="square inline-block beige"></div>
  </p>

  <p>
    <strong>Success color</strong>
    <div class="square inline-block green"></div>
    <div class="square inline-block green-bis"></div>
    <div class="square inline-block green-ter"></div>
  </p>
  <p>
    <strong>Innovation color</strong>
    <div class="square inline-block blue"></div>
    <div class="square inline-block blue-bis"></div>
    <div class="square inline-block blue-ter"></div>
  </p>
  <p>
    <strong>Business color</strong>
    <div class="square inline-block red"></div>
    <div class="square inline-block red-bis"></div>
    <div class="square inline-block red-ter"></div>
  </p>

  <p>
    <strong>Crazy color</strong>
    <div class="square inline-block purple"></div>
    <div class="square inline-block purple-bis"></div>
    <div class="square inline-block purple-ter"></div>
  </p>

  <p>
    <strong>Shiny color</strong>
    <div class="square inline-block yellow"></div>
    <div class="square inline-block orange"></div>

  </p>

  <p>
    <strong>Black and gray color</strong>
    <div class="square inline-block gray"></div>
    <div class="square inline-block gray-bis"></div>
    <div class="square inline-block black"></div>
    <div class="square inline-block black-bis"></div>
  </p>

  <h1>This is my H1</h1>
  <h2>This is my H2</h2>
  <h3>This is my H3</h3>
  <h4>This is my H4</h4>

  <p><strong>Some bold and normal text</strong></p>

  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ut libero a tincidunt. Cras scelerisque, nisi ut tempus fringilla, nibh augue suscipit augue, a viverra ex ante in eros. Praesent feugiat accumsan purus, eget pretium mi. Praesent eleifend nisl tempus mi blandit lacinia. Praesent id finibus ipsum, ac dignissim ligula. Ut malesuada vel ex quis efficitur. Donec nec tortor at ipsum mattis maximus in vestibulum magna. Suspendisse lobortis mi nulla, sit amet pretium tortor tempor et. Maecenas lacinia, odio eu eleifend tristique, tellus dolor viverra nisl, non hendrerit nulla eros nec odio. Duis non mauris nec dolor efficitur dictum non sit amet est. Ut sed porta tortor, vel eleifend augue. Pellentesque orci augue, dapibus eu risus quis, fringilla porta quam. Donec tincidunt lectus ipsum, a feugiat mauris cursus at. Cras eleifend mi justo, sed molestie mauris lacinia nec. Nulla sed mi id metus scelerisque elementum. Cras orci odio, egestas non augue quis, efficitur sodales tellus.
  </p>

  <!-- <div class="numbers-exo">
    <h1>350</h1><p>people online</p>
  </div>


  <div class="numbers-leckerli">
    <h1>350</h1><p>people online</p>
  </div>
 -->

  <div class="numbers-bungee">
    <h1>350</h1><p>people online</p>
  </div>

  <br />

  <a href="#" class="btn-cancel btn-color-red">Cancel</a>
  <a href="#" class="btn-push btn-color-green">Push</a>
</div>
