.center {
  text-align: center;
}

.btn-quick-access, .btn-sign-in {
    padding: 10px 25px;
    border-radius: 3px;
    font-weight: lighter;
    opacity: 1;
}

.btn-quick-access {
    background-color: transparent;
    color: #33658a;
    border: 1px solid #33658a;
}

.btn-sign-in {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.btn-quick-access:hover, .btn-sign-in:hover {
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer;
}

.btn-sign-in:hover { color: white; }

.text-holder{
  color:#aaaaaa;
  text-align:center;
  padding-top:40px;
}
.button-holder{
  padding: 10px 0 0 30px;
}
.submit-button{
  position:relative;
  display:inline-block;
  width:100px;
  height:40px;
  left:265px;
  top:50%;
  margin-right:-50px;
  margin-top:-20px;
  text-align:center;
}
.btn-primary{
  font-size:17px;
  cursor:pointer !important;
}
.loading{
  font-size:0;
  width:30px;
  height:30px;
  margin:0 0 0 115px;
  border-radius:15px;
  padding:0;
  border:3px solid #FFFFFF;
  border-bottom:3px solid rgba(255,255,255,0.0);
  border-left:3px solid rgba(255,255,255,0.0);
  background-color:transparent !important;
  animation-name: rotateAnimation;
  -webkit-animation-name: wk-rotateAnimation;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes rotateAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes wk-rotateAnimation {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.krowd-hidden{
  color:#ffffff;
  font-size:18px !important;
  position:absolute;
  right:50%;
  top:50%;
  margin-right:-9px;
  margin-top:-9px;
  -webkit-transform:scaleX(0) !important;
  transform:scaleX(0) !important;
}

.finish{
  -webkit-transform:scaleX(1) !important;
  transform:scaleX(1) !important;
  margin-right: -90px;
  margin-top: -15px
}
.hide-loading{
  opacity:0;
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
  -webkit-transform:scale(0) !important;
  transform:scale(0) !important;
}

.arrow-home {
  position: absolute;
  bottom: 10px;
  font-size: 90px;
  color: #FFFAFF;
  right: 0;
  left: 0;
}

