.badge-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.white-card {
  color: black;
}

.badge-pictures {
  position: relative;
}

.badge-pictures .reward-picto {
  position: absolute;
  top: 65%;
  right: 20%;
  width: 20%;
  border-radius: 50%;
}

.badge-reward {
  margin-top: -6%;
}

.grid {
  height: 92vh;
  color: #E6E6E6;
}

.row {
  height: 50%;
}

.grid-element {
  height: 100%;
  display: flex;
  align-items: center;
}

.avatar-badges {
  border: 5px solid #212F3B;
  border-radius: 50%;
  width: 50%;
}

.avatar-badges-best {
  border-radius: 50%;
  width: 100%;
}

.best-reward {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.best-reward-picture {
  height: 90%;
}

.like-row {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.badge-like {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.badge-like i {
  font-size: 150%;
  padding-right: 5%;
}

.grad-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
  margin: auto;
  margin-top: 15%;
  border-radius: 50%;
  background: #fff;
}
.grad-border:after {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -10px;
  left: -10px;
  background-image: linear-gradient(to bottom left, #26BCD5 0%, #02AD83 100%);
  z-index: -1;
  border-radius: inherit;
}




