.badge-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.badge-pictures {
  position: relative;
}

.badge-pictures .reward-picto {
  position: absolute;
  top: 65%;
  right: 20%;
  width: 20%;
  border-radius: 50%;
}

.badge-reward {
  margin-top: 5%;
}

.badge-reward h4 {
  margin-top: 10%;
}


.user-informations {
  margin-bottom: 10%;
}

.badge-card + .badge-card {
  border-left:none;
}

.grid {
  height: 92vh;
  color: #E6E6E6;
}

.row {
  height: 50%;
}

.grid-element {
  //border: grey solid 0.5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.grid-donut {
  height: 100%;
  margin: auto;
  height: 100%;
}

.avatar-badges {
  border-radius: 50%;
  width: 50%;
}

