.grid-innovation {
  height: 92vh;
  display: flex;
  align-items: center;
  background-color: #F4F3F2;
}

.innovation-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}


.title {
  padding-top: 1%;
}

.innovation-donut {
  padding-bottom: 10%;
  position: relative;
}

.innovation-donut i {
  position: absolute;
  font-size: 400%;
  left: 45%;
  bottom: 39%;
  background: -webkit-linear-gradient(#133c55, #36AD7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-innovation {
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  margin-right: 2%;
  margin-left: 2%;
  padding: 5%;
  height: 55%;
}

.card-innovation h3 {
  color: grey;
}

