.innovation-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 2%;
}

// .innovation-title i{
//   font-size: 250%;
//   padding-right: 3%;
// }

.title {
  padding-top: 1%;
}

.innovation-donut {
  padding-bottom: 10%;
  position: relative;
}

.innovation-donut i {
  position: absolute;
  font-size: 400%;
  left: 47%;
  bottom: 39%;
  background: -webkit-linear-gradient(#133c55, #36AD7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.element-donut-innovation:first-child {
  border-right: 3px solid #F4F3F2
}

.element-donut-innovation:last-child {
  border-left: 3px solid #F4F3F2
}
