.map-legend-box {
  // display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  // background-color: $blue-dam-1;
  background-color: $blue-dam-4;
  opacity: 0.7;
  width: 220px;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
  // border: 1px solid $blue-dam-1;
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 13px;
}

.map-legend-box h4 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 14px;
}

.map-legend-key {
  display: flex;
  align-items: center;
  height: 10px;
}

.map-legend-min-max {
  // flex: 0 0 10%;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.map-legend-key-color {
  flex: 1 0 auto;
  height: 100%;
  background: linear-gradient(90deg, #abfaa9, #22C873);
  border-radius: 1px;
}
