.section-message {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $blue-dam-1;
}

.section-title{
  position: absolute;
  color: white;
  top: 0px;
  padding: 0px 15px 10px 15px;
  background-color: $blue-dam-3;
}

div#award_message, div#incentive_message {
  width: 30em;
  height: auto;
}

.background-color-one, .background-color-two{
  flex: 1;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.background-color-two{
    background-color: $blue-dam-2;
}

.krowd-share-box {
  width: 100%;
}
.krowd-share-box .share {
  -webkit-transition: 0.1s ease-out height;
  -moz-transition: 0.1s ease-out height;
  -ms-transition: 0.1s ease-out height;
  -o-transition: 0.1s ease-out height;
  transition: 0.1s ease-out height;
  clear: both;
  background: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  position: relative;
}

.krowd-share-box .share .arrow {
  position: absolute;
  width: 14px;
  height: 10px;
  left: 4px;
  display: inline;
  top: -10px;
  -webkit-transition: 0.3s ease-out all;
  -moz-transition: 0.3s ease-out all;
  -ms-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}

.post-types li {
  color: white;
  margin-right: 10px;
}

.post-types li span {
  padding-left: 7px;
}

.post-types {
  padding-left: 5px;
  list-style: none;
  margin-bottom: 9px;
}

.message {
  resize: none;
  overflow: hidden;
  border-radius: 0;
  border: none;
  background-color: $blue-dam-3;
  color: white;
}

.form-control:focus {
  border-color: none;
  outline: none;
  box-shadow: none;
}

.panel {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.privacy-dropdown {
  width: 100px;
}

.form-group {
  margin-bottom: 0;
}

.panel-footer {
  padding: 15px;
}

.panel-body {
  padding: 0;
}

.panel-default > .panel-heading, .panel-footer {
  background-color: #1C2731;
  border: none;
}

#award_message .panel-footer .fa-refresh{
  display: none;
}

#incentive_message .panel-footer .fa-refresh{
  position: absolute;
  font-size: 35px;
  left: 25px;
  bottom: 20px;
}

.rubbon {
  box-sizing: border-box;
  width: 25%;
  max-width: 500px;
  height: 80px;
  margin: 40px auto;
  position: absolute;
  top: -50px;
}

.one > div {
  box-sizing: border-box;
  height: 50px;
}

.rubbon-main {
  box-sizing: border-box;
  background: #212F3B;
  position: relative;
  display: block;
  width: 90%;
  left: 50%;
  top: 0;
  padding: 5px;
  margin-left: -45%;
  z-index: 10;
}

.rubbon-main h3{
  line-height: 0px;
  text-align: center;
  color: white;
  margin-top: 19px;
  // font-family: Lato;
}

.rubbon-main > div {
  box-sizing: border-box;
  // border: 1px dashed #fff;
  border-color: rgba(255, 255, 255, 0.5);
  height: 40px;
}

.bk {
 box-sizing: border-box;
 background: #1C2731;
 position: absolute;
 width: 8%;
 top: 12px;
}

.bk.l {
 box-sizing: border-box;
 left: 0;
}

.bk.r {
 box-sizing: border-box;
 right: 0;
}

.skew {
  box-sizing: border-box;
  position: absolute;
  background: #151E26;
  width: 3%;
  top: 6px;
  z-index: 5;
}

.skew.l {
  box-sizing: border-box;
  left: 5%;
  transform: skew(00deg,20deg);
}

.skew.r {
  box-sizing: border-box;
  right: 5%;
  transform: skew(00deg,-20deg);
}

.bk.l > div {
  box-sizing: border-box;
  left: -30px;
}

.bk.r > div {
  box-sizing: border-box;
  right: -30px;
}

.arrow {
  box-sizing: border-box;
  height: 25px !important;
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
}

.arrow.top {
  box-sizing: border-box;
  top: 0px;
  border-top: 0px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 30px solid #1C2731;
}

.arrow.bottom {
  box-sizing: border-box;
  top: 25px;
  border-top: 25px solid transparent;
  border-bottom:0px solid transparent;
  border-right: 30px solid #1C2731;
}

.r .bottom {
  box-sizing: border-box;
  border-top: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 30px solid #1C2731;
  border-right: none;
}

.r .top {
  box-sizing: border-box;
  border-bottom: 25px solid transparent;
  border-top: 0px solid transparent;
  border-left: 30px solid #1C2731;
  border-right: none;
}

@media all and (max-width: 1020px) {
  .skew.l {
    box-sizing: border-box;
    left: 5%;
    transform: skew(00deg,25deg);
  }

  .skew.r {
    box-sizing: border-box;
    right: 5%;
    transform: skew(00deg,-25deg);
  }
}

@media all and (max-width: 680px) {
  .skew.l {
    box-sizing: border-box;
    left: 5%;
    transform: skew(00deg,30deg);
  }

  .skew.r {
    box-sizing: border-box;
    right: 5%;
    transform: skew(00deg,-30deg);
  }
}

@media all and (max-width: 460px) {
  .skew.l {
    box-sizing: border-box;
    left: 5%;
    transform: skew(00deg,40deg);
  }
  .skew.r {
    box-sizing: border-box;
    right: 5%;
    transform: skew(00deg,-40deg);
  }
}

