body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Sidebar Styles */
$sidebar-height: 100px;

#sidebar-wrapper, .sidebar-nav, .sidebar-nav li .sidebar-nav li a, .sidebar-nav li i, .sidebar-nav li a, .sidebar-tab-title {
  width: $sidebar-height;
}

.sidebar-nav li, .sidebar-nav li a {
  height: $sidebar-height;
}

.sidebar-group-picture {
  width: 95px;
  height: 95px;
}

#page-content-wrapper {
  margin-left: $sidebar-height;
}


.sidebar-group-picture {
  width: 75px;
  height: 75px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: $screen-md-max) {
  $sidebar-height: 60px;

  .sidebar-tab-title {
    display: none;
  }

  #sidebar-wrapper, .sidebar-nav, .sidebar-nav li .sidebar-nav li a, .sidebar-nav li i, .sidebar-nav li a, .sidebar-tab-title {
    width: $sidebar-height;
  }

  .sidebar-nav li, .sidebar-nav li a {
    height: $sidebar-height;
  }

  .sidebar-group-picture {
    width: 45px;
    height: 45px;
  }

  #page-content-wrapper {
    margin-left: $sidebar-height;
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  height: calc(100% - 40px);
  margin-top: 40px;
  overflow-y: auto;
  background: $blue-dam-3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.sidebar-nav li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: $gray;
}

.sidebar-nav li i, .sidebar-tab-title {
  text-align: center;
}

.sidebar-nav li i {
  display: block;
  text-align: center;
  padding-bottom: 2px;
}

.sidebar-tab-title {
  padding-top: 2px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
  background: $blue-dam-1;
  border-bottom: none;
  border-left: 4px solid #2b59c3;
  transition: all .15s ease;
  -webkit-transition: background 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav .sidebar-brand {
  font-size: 18px;
  line-height: 60px;
  text-indent: 20px;
}

.sidebar-brand {
  border-top: none;
}

.tab.active {
  text-decoration: none;
  color: white;
  cursor: pointer;
  background: $blue-dam-1;
  border-bottom: none;
  border-left: 4px solid #2b59c3;
  transition: all .15s ease;
  -webkit-transition: background 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out;
}
