.content{
  margin-left: 120px;
}

.sidebar {
  background-color: #384047;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 120px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding-left: 0px;
}

.sidebar li {
  margin-top:50px;
  margin-bottom: 50px;
}

.sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #788188;
}

.sidebar a:hover {
  color: white;
}
