<div class="row">
  <div class="grid-element col-xs-12 col-sm-4 text-center blue-dam-1">
    <div>
      <%= render 'groups/dashboard/innovation/donut', donut_id: "first_donut", kpi: 'innovation_ideas', icon: 'lightbulb-o'%>
      <h3>Ideas</h3>
    </div>
  </div>
  <div class="grid-element col-xs-12 col-sm-4 text-center blue-dam-2">
    <div>
      <%= render 'groups/dashboard/innovation/donut', donut_id: "second_donut", kpi: 'innovation_kint' , icon: 'book'%>
      <h3>Knowledge: inside the industry</h3>
    </div>
  </div>
  <div class="grid-element col-xs-12 col-sm-4 text-center blue-dam-1">
    <div>
      <%= render 'groups/dashboard/innovation/donut', donut_id: "third_donut", kpi: 'innovation_kext' , icon: 'graduation-cap' %>
      <h3>Knowledge: outside the industry</h3>
    </div>
  </div>
</div>
