.position-absolute { position: absolute; }
.position-relative { position: relative; }
.size-full { width: 100%; height: 100%; }
.width-full { width: 100%; }
.width-half { width: 50%; }
.height-full { height: 100%; }
.margin-auto { margin: auto; }
.display-flex { display: flex; }
.radius-3 { border-radius: 3px; }
.z-10 { z-index: 10; }
.z-1 { z-index: 1; }
.horizontal-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.direction-column {
  flex-direction: column;
}

.padded { padding: 50px 0px; }

.square {
  width: 100px;
  height: 100px;
}

.inline-block { display: inline-block; }

.beige { background-color: $beige; }

.green { background-color: $green-lighter; }
.green-bis { background-color: $green; }
.green-ter { background-color: $green-darker; }
.comments-color { background-color: $comments-color;}

.blue { background-color: $blue-lighter; }
.dam-color-1 { background-color: $dam-color-1;}
.dam-color-2 { background-color: $dam-color-2;}
.dam-color-3 {background-color: $dam-color-3; }
.likes-color { background-color: $likes-color; }

.red { background-color: $red-lighter; }
.red-bis { background-color: $red; }
.red-ter { background-color: $red-darker; }

.purple { background-color: $purple-lighter; }
.purple-bis { background-color: $purple; }
.purple-ter  { background-color: $purple-darker; }


.black { background-color: $black; }
.black-bis { background-color: $dark-black; }
.gray { background-color: $gray-lighter; }
.gray-bis { background-color: $gray; }
.gray-dam-1 { background-color: #89949B; }


.orange { background-color: $orange; }
.yellow { background-color: $yellow; }

.color-white { color: white; }

.business-innovation-bg-color { background-color: $business-innovation-color; }
.business-disruption-bg-color { background-color: $business-disruption-color; }
.technology-innovation-bg-color { background-color: $technology-innovation-color; }
.technology-disruption-bg-color { background-color: $technology-disruption-color; }

.business-bg-color { background-color: $business-color; }
.business-color { color: $business-color; }
.technology-bg-color { background-color: $technology-color; }
.technology-color { color: $technology-color; }

.btn-color-red {
  background: -webkit-linear-gradient(top,$red 0,$red-darker 100%);
  background: linear-gradient(to bottom,$red 0,$red-darker 100%);
  box-shadow: 0 1px 0 $red-darker;
}

.btn-color-green {
  background: -webkit-linear-gradient(top,$green 0,$green-darker 100%);
  background: linear-gradient(to bottom,$green 0,$green-darker 100%);
  box-shadow: 0 1px 0 $green-darker;
}

h1, h2, h3, h4 { font-family: $header-font; }

a { font-family: $base-font; }

p {
  font-family: $base-font;
  font-weight: 400;
}

.btn-cancel, .btn-push {
  color: white;
  margin: 8px 4px 0 0;
  padding: 7px 20px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
}

.btn-cancel:hover, .btn-push:hover {
  opacity: 0.9;
  text-decoration: none;
  color: white;
}

.tabs {
  display: flex;
  padding: 10px 10px 0 10px
}

.tabs a {
  color: white;
  text-decoration: none;
}

.tabs a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}

.tab {
  display: flex;
  flex: 1 0 15%;
  align-items: center;
  justify-content: center;
  margin: 0 3px 0 3px;
  border-radius: 5px 5px 0 0;
}


