
.padded { padding: 50px 0px; }

.square {
  width: 100px;
  height: 100px;
}

.inline-block { display: inline-block; }

.beige { background-color: $beige; }

.green { background-color: $green-lighter; }
.green-bis { background-color: $green; }
.green-ter { background-color: $green-darker; }

.blue { background-color: $blue-lighter; }
.blue-bis { background-color: $blue; }
.blue-ter { background-color: $blue-darker; }
.blue-dam-1 { background-color: #0B1B28;}
.blue-dam-2 { background-color: #031421;}

.red { background-color: $red-lighter; }
.red-bis { background-color: $red; }
.red-ter { background-color: $red-darker; }

.purple { background-color: $purple-lighter; }
.purple-bis { background-color: $purple; }
.purple-ter  { background-color: $purple-darker; }


.black { background-color: $black; }
.black-bis { background-color: $dark-black; }
.gray { background-color: $gray-lighter; }
.gray-bis { background-color: $gray; }


.orange { background-color: $orange; }
.yellow { background-color: $yellow; }


.btn-color-red {
  background: -webkit-linear-gradient(top,$red 0,$red-darker 100%);
  background: linear-gradient(to bottom,$red 0,$red-darker 100%);
  box-shadow: 0 1px 0 $red-darker;
}

.btn-color-green {
  background: -webkit-linear-gradient(top,$green 0,$green-darker 100%);
  background: linear-gradient(to bottom,$green 0,$green-darker 100%);
  box-shadow: 0 1px 0 $green-darker;
}

.numbers-bungee h1{
  font-family: 'Bungee', cursive;
  font-size: 100px;
}

/*.numbers-exo h1{
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  font-size: 100px;
}
*/

/*.numbers-leckerli h1{
  font-family: 'Leckerli One', cursive;
  font-size: 100px;
}
*/


h1, h2, h3, h4 { font-family: 'Montserrat', sans-serif; }

a { font-family: 'Lato', sans-serif; }

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.btn-cancel, .btn-push {
  color: white;
  margin: 8px 4px 0 0;
  padding: 7px 20px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
}

.btn-cancel:hover, .btn-push:hover {
  opacity: 0.9;
  text-decoration: none;
  color: white;
}

.tabs {
  display: flex;
  padding: 10px 10px 0 10px
}

.tabs a {
  color: white;
  text-decoration: none;
}

.tabs a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}

.tab {
  display: flex;
  flex: 1 0 15%;
  align-items: center;
  justify-content: center;
  margin: 0 3px 0 3px;
  border-radius: 5px 5px 0 0;
}

.tab.active {
  color: #1e1d23;
}
